@font-face {
  font-family: "iconfont"; /* Project id 4681228 */
  src: url('../images/font_4681228_nm4knb2lmmo/iconfont.woff2') format('woff2'),
       url('iconfont.woff?t=1726038624538') format('woff'),
       url('iconfont.ttf?t=1726038624538') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e602";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-shouye:before {
  content: "\e62e";
}

