.box{
    width: 440px;
    height: 150px;
    position: relative;
    background-color:#fafafa;
}
 .tupian{
    width: 51px;
    height: 65px;
    float: left;
    margin-left: 20px;
    margin-top: 35px;
 }
 
 
 
 .box p{
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }
 .content{
    width: 330px;
    height: 113px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    float: right;
    position: absolute;
    top: -10px;
    left: 100px;
 }
 .jinqian{
    position: absolute;
    top: 0px;
    left: 50px;
 }
 .two{
    position: absolute;
    top: 120px;
    left: 390px;
    color: #fafafa;
 }
 